<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.dao.UnitBookDao">
  <resultMap id="BaseResultMap" type="com.video.bean.BaseUnitBookBeanBean">
    <id column="bv_id" jdbcType="VARCHAR" property="bvId" />
    <result column="bv_book_id" jdbcType="VARCHAR" property="bvBookId" />
    <result column="bv_voc_id" jdbcType="VARCHAR" property="bvVocId" />
    <result column="bv_flag" jdbcType="VARCHAR" property="bvFlag" />
    <result column="bv_tag" jdbcType="VARCHAR" property="bvTag" />
    <result column="bv_order" jdbcType="INTEGER" property="bvOrder" />
  </resultMap>
  <sql id="Base_Column_List">
    bv_id, bv_book_id, bv_voc_id, bv_flag, bv_tag, bv_order
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book_word_relation
    where bv_id = #{bvId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from book_word_relation
    where bv_id = #{bvId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.video.bean.BaseUnitBookBeanBean">
    insert into book_word_relation (bv_id, bv_book_id, bv_voc_id, 
      bv_flag, bv_tag, bv_order
      )
    values (#{bvId,jdbcType=VARCHAR}, #{bvBookId,jdbcType=VARCHAR}, #{bvVocId,jdbcType=VARCHAR}, 
      #{bvFlag,jdbcType=VARCHAR}, #{bvTag,jdbcType=VARCHAR}, #{bvOrder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.video.bean.BaseUnitBookBeanBean">
    insert into book_word_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bvId != null">
        bv_id,
      </if>
      <if test="bvBookId != null">
        bv_book_id,
      </if>
      <if test="bvVocId != null">
        bv_voc_id,
      </if>
      <if test="bvFlag != null">
        bv_flag,
      </if>
      <if test="bvTag != null">
        bv_tag,
      </if>
      <if test="bvOrder != null">
        bv_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bvId != null">
        #{bvId,jdbcType=VARCHAR},
      </if>
      <if test="bvBookId != null">
        #{bvBookId,jdbcType=VARCHAR},
      </if>
      <if test="bvVocId != null">
        #{bvVocId,jdbcType=VARCHAR},
      </if>
      <if test="bvFlag != null">
        #{bvFlag,jdbcType=VARCHAR},
      </if>
      <if test="bvTag != null">
        #{bvTag,jdbcType=VARCHAR},
      </if>
      <if test="bvOrder != null">
        #{bvOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.video.bean.BaseUnitBookBeanBean">
    update book_word_relation
    <set>
      <if test="bvBookId != null">
        bv_book_id = #{bvBookId,jdbcType=VARCHAR},
      </if>
      <if test="bvVocId != null">
        bv_voc_id = #{bvVocId,jdbcType=VARCHAR},
      </if>
      <if test="bvFlag != null">
        bv_flag = #{bvFlag,jdbcType=VARCHAR},
      </if>
      <if test="bvTag != null">
        bv_tag = #{bvTag,jdbcType=VARCHAR},
      </if>
      <if test="bvOrder != null">
        bv_order = #{bvOrder,jdbcType=INTEGER},
      </if>
    </set>
    where bv_id = #{bvId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.video.bean.BaseUnitBookBeanBean">
    update book_word_relation
    set bv_book_id = #{bvBookId,jdbcType=VARCHAR},
      bv_voc_id = #{bvVocId,jdbcType=VARCHAR},
      bv_flag = #{bvFlag,jdbcType=VARCHAR},
      bv_tag = #{bvTag,jdbcType=VARCHAR},
      bv_order = #{bvOrder,jdbcType=INTEGER}
    where bv_id = #{bvId,jdbcType=VARCHAR}
  </update>
  <sql id="base_query">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != bvId">
         and t.bv_id = #{bvId,jdbcType=VARCHAR}
      </if>
      <if test="null != bvBookId">
         and t.bv_book_id = #{bvBookId,jdbcType=VARCHAR}
      </if>
      <if test="null != bvVocId">
         and t.bv_voc_id = #{bvVocId,jdbcType=VARCHAR}
      </if>
      <if test="null != bvFlag">
         and t.bv_flag = #{bvFlag,jdbcType=VARCHAR}
      </if>
      <if test="null != bvTag">
         and t.bv_tag = #{bvTag,jdbcType=VARCHAR}
      </if>
      <if test="null != bvOrder">
         and t.bv_order = #{bvOrder,jdbcType=INTEGER}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.video.bean.BaseUnitBookBeanBean" resultMap="BaseResultMap">
    select t.* from book_word_relation t
    <include refid="base_query" />
  </select>
  <select id="list" parameterType="com.video.bean.BaseUnitBookBeanBean" resultMap="BaseResultMap">
    select t.* from book_word_relation t
    <include refid="base_query" />
  </select>
  <select id="pageList" parameterType="com.video.bean.BaseUnitBookBeanBean" resultMap="BaseResultMap">
    select t.* from book_word_relation t
    <include refid="base_query" />
  </select>

  <select id="unitListBybkId" parameterType="com.video.bean.ViewWord" resultMap="BaseResultMap">

    SELECT t.bv_tag
    FROM book_word_relation t
    <if test="null != bkId">
      WHERE t.bv_book_id = #{bkId,jdbcType=VARCHAR}
      <if test="null != unitName">
        AND t.bv_tag LIKE concat('%',#{unitName,jdbcType=VARCHAR},'%')
      </if>
    </if>
    GROUP BY t.bv_tag

  </select>


</mapper>